<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>

<div [hidden]="hideRooms">
    Numer of Rooms:

    <div [ngStyle]="{'color' : rooms.availableRooms > 0 ? 'green' : 'red'}"
    [innerText]="numberOfRooms"></div>
</div>

<div *ngIf="hideRooms">
    <hinv-rooms-list [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()" >Add Room</button>
</div>

<button (click)="toggle()">Toggle</button>

<!-- tương tự với -->
<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->